body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  /* to ovveride styles */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*100 viewport height it occupies full page height remaining height for footer */
}

.container {
  flex: 1;
}

/* navbar */

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  /*imp means our style ovverides bootstraps style */
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  /* no underline  */
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  /* arranges items in row(by default) */
  flex-wrap: wrap;
  justify-content: center;
  /* moves all items to the center (horizontally), applies only when dipaly : flex or display: grid*/
  align-items: space-evenly;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  width: 100% !important;
  height: 235px;
  object-fit: cover !important;
  border-radius: 1rem !important;
  /* img covers full area of container */
  margin-bottom: 0.5rem;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

/* card link */
.listing-link {
  text-decoration: none !important;
  /* remove underline */
}

/* card effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* create new listing page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit page */

.edit-dlt-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show page */

.show-img {
  height: 35vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* MAP */
#map {
  height: 300px;
  width: 100%;
}
